<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to OptionSense</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h4> Welcome to OptionSense</h4>
            <h5> Stock Trading is like flipping a coin, Option Trading is like playing Chess.</h5>
            <h5> As in Chess so also in Option trading, strategies play an important role</h5>
            <h6> This App helps the trader to visualize the payoff for all such strategies </h6>
            <h6>The Objective is to educate the trader as he executes the trades</h6>
            <p>Loading application, pls wait</p>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>




