<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to optiontrader</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h4>Welcome to Option Trader</h4>
            <h6> Someone said that investing in stocks is pretty much like playing checkers.  Any 10-year old can do it.  You really don’t need much experience or understanding.  If you can read, you can buy stock (and probably do just about as well as anyone else because it’s basically a roulette wheel choice in spite of the near universal belief that you are smarter than anyone else).

Options, on the other hand, is more like playing chess.  It can be (and is, for anyone who is serious about it) a life-time learning experience.

You don’t see columns in the newspaper about interesting checker strategies, but you see a ton of pundits telling you why you should buy particular stocks.  People with little understanding or experience buy stocks every day, and most of their transactions involve buying from professionals with far more resources and brains (and for some reason, these professionals are selling the stock to them instead of buying it).
This App helps the trader to visualize the payoff for all strategies with the chosen strike price as the initiation point. The Objective is to educate the trader as he executes the trades
</h6>
            <p>Loading application, pls wait</p>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>




